

footer {
    position: absolute;
    bottom: 0%;
    background-image: url(/assets/footer.svg);
    background-size: cover;
    width: 100vw;
    aspect-ratio: 16/3;
  }
  .footer-content {
    position: relative;
    left: 20%;
    top: 10%;
    max-width: 1200px;
    height: 80%;
    border-style: solid;
    border-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
  } 

  .footer-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 50%;
    margin-left: 10%;
  }

  .footer-line {
    position: relative;
    background-color: white;
    width: 2px;
    height: 60%;
  }

  .footer-logos {
    display: flex;
    flex-direction: column;
    gap: 2%;
    height: 40%;
    width: 6%;
  }

  .footer-logos-item {
    max-height: 100%;
    max-width: 100%;
    margin-bottom: 5%;
  }

  footer a {
    text-decoration: none;
    color: white;
  }

  footer li {
    list-style: none;
  }
  .footer-some-logos{
    height: 40px;
    width: 40px;
  }

  #logo {
    height: 100px;
    aspect-ratio: 340/512;
  }