.grid_1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.h1-psykoterapi {
  border-style: solid;
  color: #154e4d;
  border-color: #e3a781;
  margin-right: 60%;
  text-align: center;
}

.flex_1_2 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 0%;
  margin: 5vh 0 5vh 0;
}
#flex_1_2-text {
  max-width: 50%;
}
#flex_1_2-text p {
  font-size: 2.5vh;
}

.portrait-card-background {
  background-color: var(--dark-green);
}
.portrait-card-image {
  aspect-ratio: 14/10;
  background-image: url(/billeder/couple-sitting.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  left: -3%;
  top: -10px;
}
.portrait-card {
  height: 80vh;
  aspect-ratio: 4/5;
  padding-left: 10%;
}

.grid3_1 {
  display: grid;
  grid-template-columns: 60% 40%;
  max-width: 1200px;
  margin: auto;
  margin-top: 5%;
}

.psyko_right {
  grid-column: 2/3;
  grid-row: 1;
}

.psyko_left {
  grid-column: 1/2;
  grid-row: 1;
}
.h1-psykoterapi {
  border-style: solid;
  color: #154e4d;
  border-color: #e3a781;
  margin-right: 60%;
  text-align: center;
}
p {
  color: #154e4d;
  font-family: "Cormorant", serif;
  font-weight: bold;
}

.psyko_punktopstilling_li {
  color: #154e4d;
  font-family: "Cormorant", serif;
  font-weight: bold;
  list-style: none; /* Remove default bullets */
}
.om_dot::before {
  content: "\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #e3a781; /* Change the color */
  font-weight: bold;
  display: inline-block;
  width: 1em;
}
.om_punktopstilling {
  margin-bottom: 5%;
}

#psyko-liste {
  grid-column: 2;
  grid-row: 3;
}

#psyko-har-du-lyst {
  grid-column: 1;
  grid-row: 4;
}
#flex_2_2-image {
  aspect-ratio: 4/5;
  height: 15vh;
}

.psyko-oevelse-container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-color: var(--dark-green);
  border-width: 2vh;
  padding: 5%;
}
.psyko-oevelse-container h1 {
  text-align: center;
  font-size: 5vh;
  
}
#portrait-card-2 {
  height: 55vh;
  margin-top: 15%;
}

#portrait-card-image-2 {
  aspect-ratio: 4/5;
  background-image: url(/billeder/woman-jumping.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  left: -3%;
  top: -10px;
}